<form action = "https://chicagobooth.edu">
  <label for "dice">Dice</label>
  <input type = "integer" name="dice"omH>
   <label for "sides">Sides</label>
  <input type = "integer" name="sides">
  <button>Go</button>
</form>
